.movies__table {
    width: auto;
    margin: auto;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.09);
}

.movies__caption {
    padding: 10px;
    background: #532e0c;
    font-weight: 700;
    color: #fff;
}

.movies__cell {
    padding: 12px 16px;
    border-bottom: 1px solid #eee;
}

.movies__table thead .movies__cell {
    background: #985618;
    color: #fff;
}

.movies__table tr:nth-child(even) .movies__cell {
    background: #f7f2ec;
}

.movies__table tr:hover .movies__cell {
    background: #ffe4c0;
}
