.nav__list {
    list-style: none;
    display: flex;
    gap: 12px;
    padding: 0;
    margin: 0 0 8px;
    justify-content: center;
}

.nav__link {
    display: inline-block;
    padding: 8px 14px;
    border-radius: 999px;
    text-decoration: none;
    background: #985618;
    color: #fff;
    border: 1px solid #532e0c;
}

.nav__link:hover {
    background-color: #c16e25;
}
